*{
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
}

/*********
TYPOGRAPHY
**********/
body{
    font-family: "Inter", sans-serif;
    background-color: #1c1c1c;    
}

h1{
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin:0;
    text-transform: capitalize;
}

.section-title{
    font-size: 0.75rem;
    font-weight: 700;
    color:#918E9B;
    margin-bottom: 1.3em;
    
}

.intro{
    color:#2B283A;
    font-size: 0.8rem;
    margin: 0.3em 0;
}


/*********
LAYOUT
**********/
header{
    background: #F5F5F5;
    padding: 2em 2.75em;
    text-align:center;
    width: 95%;
    max-width: 550px;
    margin: 3em auto 0;
    position: relative;
}


main {
    width: 95%;
    max-width: 550px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 0 1.5em 2em;
}

.container {
    display: flex;
    justify-content: space-between;
}

.task-btn-container{
    padding: 1em 0;
}

.task-btn{
    font-size: 0.6rem;
    padding: 1em 1.2em;
    border: solid 1px #D5D4D8;
    border-radius: 0.5em;
}

.task-list-container{
    border-bottom: 1px solid #C3C6DB;
}

.task-list{
    min-height: 10rem;
}

#list-el {
    padding: 0;
}

.list-item,
.amount-item{
    font-size: 1rem;
    font-weight: 700;
    list-style: none;
    margin-bottom: 1em;
}

.list-item{
    color:#4A4E74;
}

.amount-item,
.remove {
    color:#918E9B;
}

.remove{
    font-size: 0.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.5em;
    border: none;
    background: none;
    margin-left: 0.5em;
}


.amount-list,
#total-el {
    text-align: right;
    font-weight: 700;
}

.notes-total-container{
    min-height: 5.5em;
    margin-bottom: 1.5em;

}

.notes {
    width: 70%;
}

.notes>textarea{
    width: 100%;
    border: none;
    min-height: 5rem;
    padding: 0.6em;
}

#total-el {
    color: #4A4E74;
    font-size: 2rem;
}


#send-btn {
    background-color: #3770ED;
    color: #FFF;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    padding: 1em;
}

.env-img{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.close {
    font-size: 0.8rem;
    position: absolute;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: transparent;
    font-weight: 700;
    padding: 0.25em 0.5em;
    cursor: pointer;
    top:1.25em;
    right: 1.25em;
}

/* ================
MEDIA QUERIES
================ */
@media (min-width: 500px){
    h1{
        font-size: 2.5rem;
        letter-spacing: 3px;
    }

    .intro{
        margin: 0.5em 0;
    }

    header{
        padding: 3em 5.5em;
    }
    
    .task-btn-container{
        padding: 2em 0;
    }
    
    .task-btn{
        font-size: 0.9rem;
    }
    
    .list-item,
    .amount-item{
        font-size: 1.25rem;
        margin-bottom: 1.25em;
    }
    
    #total-el {
        color: #4A4E74;
        font-size: 3rem;
    }

    .close{
        font-size: 1.125rem;
    }
}
